<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find my_ur3_reach)/config/ur3_params_sarsa.yaml" />
    <!-- Launch the training system -->
    <node pkg="my_ur3_reach" name="my_ur3_sarsa" type="start_training_sarsa.py" output="screen"/>
</launch>